@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 174 71% 37%; /* #19A396 */
    --primary-foreground: 210 40% 98%;
    --secondary: 174 71% 80%; /* lightened */
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 174 71% 80%; /* lightened */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 174 71% 37%; /* #19A396 */
    --radius: 0.5rem;
    --chart-1: 174 71% 37%; /* #19A396 */
    --chart-2: 202 100% 37%; /* #0089BF */
    --chart-3: 217 61% 46%; /* #2975C0 */
    --chart-4: 260 32% 51%; /* #725AAC */
    --chart-5: 322 46% 40%; /* #963B83 */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 174 71% 37%; /* #19A396 */
    --primary-foreground: 210 40% 98%;
    --secondary: 174 40% 20%; /* darkened */
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 174 40% 20%; /* darkened */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 174 71% 37%; /* #19A396 */
    --chart-1: 220 70% 50%;
    --chart-2: 202 100% 37%; /* #0089BF */
    --chart-3: 217 61% 46%; /* #2975C0 */
    --chart-4: 260 32% 51%; /* #725AAC */
    --chart-5: 322 46% 40%; /* #963B83 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .card {
    @apply bg-white p-4 rounded shadow;
    min-height: 300px; /* ajustez cette valeur selon vos besoins */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
